flows.json
[{"id":"5070e16d.207c2","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"dc7f7005.eeec9","type":"function","z":"5070e16d.207c2","name":"co2","func":"global.set('CO2',msg.payload.d.CO2)\nreturn{payload:msg.payload.d.CO2}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":160,"wires":[["f4f5f474.945c18","98211373.a642e"]]},{"id":"481def88.dc53b","type":"function","z":"5070e16d.207c2","name":"n2","func":"global.set('N2',msg.payload.d.N2)\nreturn{payload:msg.payload.d.N2}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":380,"wires":[["f4f5f474.945c18","751aba34.39c674"]]},{"id":"9d60f1aa.900d7","type":"ibmiot in","z":"5070e16d.207c2","authentication":"apiKey","apiKey":"e3065bfc.a11328","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1001","applicationId":"","deviceType":"iotdevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":260,"wires":[["dc7f7005.eeec9","481def88.dc53b","f4f5f474.945c18","491acd6e.b859e4","40ec553.c05c4ac","cd35c1fb.6f6c2"]]},{"id":"f4f5f474.945c18","type":"debug","z":"5070e16d.207c2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":260,"wires":[]},{"id":"98211373.a642e","type":"ui_gauge","z":"5070e16d.207c2","name":"co2","group":"812463ab.d356a","order":6,"width":0,"height":0,"gtype":"gage","title":"co2","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":140,"wires":[]},{"id":"751aba34.39c674","type":"ui_gauge","z":"5070e16d.207c2","name":"n2","group":"812463ab.d356a","order":7,"width":0,"height":0,"gtype":"gage","title":"n2","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":380,"wires":[]},{"id":"c9005d8b.00dd5","type":"http in","z":"5070e16d.207c2","name":"http in","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":190,"y":480,"wires":[["4f4d4b9c.7f1f64"]]},{"id":"4f4d4b9c.7f1f64","type":"function","z":"5070e16d.207c2","name":"http response","func":"msg.payload={\"CO2\":global.get('CO2'),\"N2\":global.get('N2'),\"LA\":global.get('LA'),\"LG\":global.get('LG')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":460,"wires":[["621b6dc9.4a5664"]]},{"id":"621b6dc9.4a5664","type":"http response","z":"5070e16d.207c2","name":"","statusCode":"","headers":{},"x":590,"y":500,"wires":[]},{"id":"491acd6e.b859e4","type":"function","z":"5070e16d.207c2","name":"la","func":"global.set('LA',msg.payload.d.LA)\nreturn{payload:msg.payload.d.LA}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":80,"wires":[["c11cef83.9f864","f4f5f474.945c18"]]},{"id":"40ec553.c05c4ac","type":"function","z":"5070e16d.207c2","name":"lg","func":"global.set('LG',msg.payload.d.LG)\nreturn{payload:msg.payload.d.LG}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":320,"wires":[["c11cef83.9f864","f4f5f474.945c18"]]},{"id":"c11cef83.9f864","type":"ui_worldmap","z":"5070e16d.207c2","group":"812463ab.d356a","order":8,"width":0,"height":0,"name":"LOCATION","lat":"16.0948","lon":"80.1656","zoom":"","layer":"Nat Geo","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":670,"y":60,"wires":[]},{"id":"cd35c1fb.6f6c2","type":"cloudant out","z":"5070e16d.207c2","name":"","cloudant":"","database":"data","service":"node-red-lpoje-2021--cloudant-1620812301111-4470","payonly":true,"operation":"insert","x":640,"y":220,"wires":[]},{"id":"e3065bfc.a11328","type":"ibmiot","name":"IOTDATA","keepalive":"60","serverName":"gaxcrt.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"812463ab.d356a","type":"ui_group","name":"Default","tab":"1985b54b.6bac3b","order":1,"disp":true,"width":"6","collapse":false},{"id":"1985b54b.6bac3b","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]